.chip_box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* margin: 1em; */
    border: 2px solid black;
    border-radius: 20px;
}

.chip_box:hover {
    border: 2px solid white;
}

.active{
    border: 2px solid white;
}
.inactive{
    border: 2px solid black;
}

h5 {
    font-size: 1.2rem;
    margin: .3em 0 0 0;
    color: #FFFFFF;
    font-weight: 600;
    letter-spacing: 2px;
}

.chip_box img {
    width: 130px;
    border-radius: 11px;
    border: 1px solid ;
    margin: .7em;
}

@media screen and (max-width: 955px){
    .chip_box img{
        width: 100px;
    }
}