.container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width: 100%;
    background-color: black;
}


.text_box{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 30%;
}
.text{
    align-self: flex-start;
}
.text_box h2{
    margin: .8em 0;
    font-size: 2.5rem;
    font-family: 'Single Day', cursive;
    color:#72DB73;
    font-weight: 100;
}
.text_box p{
    margin: .8em 0;
    font-size: 3rem;
    font-weight: 700;
    color: #FFFFFF;
}

.selted_box{
    display: flex;
    flex-wrap: wrap;
}

.category_box{
    display: flex;
    flex-wrap: wrap;
    width: 40%;
}