.container{
    color: white;
}
.container h3{
    color: #72DB73;
    font-size: 2rem;
    font-weight: 100;
    font-family: 'Single Day';
    margin: 0 0 0 1em;
}

.toggle_btn{
    background-color: #72DB73;
    padding: 2em;
    position: fixed;
    top: 5%;
    right: 2%;
    border-radius: 40px;
    background-image: url('https://i.pinimg.com/236x/a8/c4/1d/a8c41d4a48db08e83547a34127a03174.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid #FFF;
}

.movies_container{
    margin: 1em 2em;
}

.category_box{
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
}
.category_box h1{
    font-size: 2rem;
    letter-spacing: 1px;
    color:#878787;
}

.movies_box{
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
}