.selected_card{
    background-color: green;
    color: #FFFFFF;
    padding: .4em 1em;
    /* height: 35px; */
    /* width: 110px; */
    text-align: center;
    border-radius: 30px;
    margin: .4em .6em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

button{
    background: none;
    border: none;
    margin: 0 0 0 .5em;
    font-size: 1rem;
    font-weight: 500;
    color: rgb(169, 168, 168);
}
button:hover{
    /* font-size: 1rem; */
    color: rgb(208, 206, 206);
}